@model ICollection<KitchenImages>

@{
    int count = 1;
}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Metbex</h4>


            <div class="table-responsive pt-3">
                <a class="btn btn-success text-light" asp-area="Admin" asp-controller="Kitchen" asp-action="Create">Create</a>
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th>
                                Number
                            </th>
                            

                            <th>
                                Image
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (KitchenImages item in Model)
                        {
                            <tr>
                                <td> @count</td>


                                <td><img src="~/assets/imgs/Kitchen/@item.ImagePath"  /></td>
                                <td>
                                   @*<a class="btn btn-warning text-light" asp-area="Admin" asp-controller="Kitchen" asp-action="Update" asp-route-Id="@item.Id">Update</a>*@
                                    <a class="btn btn-danger text-light" asp-area="Admin" asp-controller="Kitchen" asp-action="Delete" asp-route-Id="@item.Id">Delete</a>
                                </td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
﻿
